h1{
  text-align: center;
}
body{
  background-image: url("images/beast.jpg");
  background-repeat: no-repeat;
  background-size: 100%auto;
}
h2,ul{
  border: 4px solid white;
  border-color: transparent;
  width: 100 px;
  padding: 10px;
  margin: auto;
}
h2,ul{

}
